body {
    background-color: white;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body ::selection {
    color: #06eff7;
    background: #000000;
}

header {
    padding: 1px;
    margin-bottom: 500px;
}

#menuhome {
    background-color: #303030;
    color: #ffffff;
    padding-left: 50px;
    margin-top: 0px;
    height: 400px;
    margin: 0;
}

#menuhome h1 {
    padding-top: 145px;
    font-size: 50px;
}

#menuhome p {
    padding-bottom: 50px;
    font-size: 20px;
    position: relative;
    bottom: 20px;
}

#dadoseinfo {
    background-color: rgb(143, 224, 231);
    width: 100vw;
    padding-top: 30px;
    height: 200px;
}

.info {
    display: inline-block;
    font-size: 23px;
    padding-left: 100px;
}

.info p {
    font-size: 20px;
}