body {
    background-color: white;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body ::selection {
    color: #06eff7;
    background: #000000;
}

header {
    padding: 1px;
    margin-bottom: 500px;
}

#menuhome {
    background-color: #303030;
    color: #ffffff;
    padding-left: 50px;
    margin-top: 0px;
    height: 400px;
    margin: 0;
}

#menuhome h1 {
    padding-top: 145px;
    font-size: 50px;
}

#menuhome p {
    padding-bottom: 50px;
    font-size: 18.7px;
    position: relative;
    bottom: 20px;
}

#dadoseinfo {
    background-color: rgb(247, 247, 247);
    width: 98.8vw;
    padding-top: 30px;
    height: 170px;
    font-style: bolder;
}

.info {
    display: inline-block;
    font-size: 23px;
    padding-left: 150px;
    font-style: bolder;
}

.info p {
    font-size: 21px;
    position: relative;
    bottom: 20px;
}

img {
    margin-top: 60px;
    width: 400px;
    position: relative;
    left: 990px;
}

.texto-mkt {
    position: relative;
    bottom: 350px;
    margin-left: 100px;
}

.texto-mkt p {
    font-style: normal;
    font-size: 25px;
    font-weight:100;
    margin-top: 50px;
}
